* {

box-sizing: border-box;
margin: 0;

}

/* body {
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 20% 10% 1fr 10%;
grid-template-areas:
"header header header"
"nav nav nav"
"main main main"
"footer footer footer";
} */

/* IMG!!!  */

.img-patroon {
width: 50%;
margin-top: -5em;
margin-left: 51em;

}

.vini-mini-logo {
width: 9%;
margin-top: -17em;
margin-right: 51em;
margin-left: 3em;
}

/* HET MENU!!! */

ul {

display: flex;
justify-content: center;
width: 100%;
list-style: none;
gap: 5em;
margin-top: -19em;
font-family:  montserrat, sans-serif;
overflow: visible;
margin-left: -6em;

} 

